:root {
    --primary-color: #055e68;
    --secondary-color: #ebfffa;
    /* --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
  }

/* Fonts */
.newsreader-bold {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  }
  
.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}
  
.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

/* Styling A to Z */
.about-picture {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.active {
  color: var(--primary-color) !important;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-branding-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--primary-color);
  color: white;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content-container {
  padding: 100px 20px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  font-size: 18px;
  margin: 0;
}

footer .email-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 48px;
}

.hero {
    background: var(--secondary-color);
    padding: 160px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
  font-size: 36px;
}

.nav-item {
  padding: 0 20px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.project-description {
  padding: 100px 30px;
}

/* Media Queries */
@media (max-width: 960px) {
  .content {
    text-align: center;
    padding: 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
