:root {
    --primary-color: #055e68;
    --secondary-color: #ebfffa;
    /* --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
  }

/* Fonts */
/* Spectral */
.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }

/* Newsreader */
.newsreader-bold {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hero {
    background: var(--secondary-color);
    padding: 160px 20px;
    text-align: center;
}

.hero p {
    font-size: 36px;
}

.hero h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-size: 24px;
}
.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.btn-branding-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--primary-color);
  color: white;
}

.project-description {
  padding: 100px 30px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }
}

.content-container {
  padding: 100px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content {
  margin: 30px;
}

.about-picture {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.active {
  color: var(--primary-color) !important;
}

.nav-item {
  padding: 0 20px;
}
