:root {
    --primary-color: #055e68;
    --secondary-color: #ebfffa;
    /* --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
  }

/* Fonts */
/* Spectral */
.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }

/* Newsreader */
.newsreader-bold {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hero {
    background: var(--secondary-color);
    padding: 160px 20px;
    text-align: center;
}

.hero p {
    font-size: 36px;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-size: 24px;
}
.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.btn-branding-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 0 30px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}